/*! Arkantos Theme Styling 

.layout-content{
    color: darkslategray;
}

.layout-content p{
    font-size: 24px;
    font-family: 'Ubuntu', sans-serif;
    padding: 0 5%;

}

/* .layout-container{
    padding: 0 5%;
} */
/*
nav#block-arkantos-main-menu {
    background: #ddd;
    padding: 10px;
}

#block-arkantos-main-menu ul {
    padding: 0;
}

#block-arkantos-main-menu li {
    display: inline-block;
    margin-right: 20px;
}

#block-arkantos-main-menu li a {
    text-decoration: none;
    color: #333;
    text-transform: uppercase;
}

*/

header {
    background-color: #ee6e73;
    overflow: hidden;
}

header a {}

.brand-logo {
    float:  left;
    max-width: 25%;
}

nav#block-arkantos-main-menu {
    float:  right;
    max-width: 75%;
    box-shadow: none;
}

.brand-logo a {
    padding: 10px;
    display: inline-block;
}