<header class="headerclass" role="banner">
    {{ page.header }}
  </header>

  <div class="banner">
    <h2 class="bannerheading">iQuanti Digital Marketing Services</h1>
    <h4 class="bannersubheading">Unparalleled data-driven digital marketing services focused</h3>
    <button class="btn bannerbutton">Explore our Solutions</button>
  </div>

<div class="container">

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
    <div class="layout-content">
      {{ page.content }}
    </div>{# /.layout-content #}

    {% if page.sidebar %}
      <aside class="layout-sidebar" role="complementary">
        {{ page.sidebar }}
      </aside>
    {% endif %}


  </main>

  

</div>{# /.layout-container #}


{% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}